.label,
.title {
    text-align: center;
    width: 100%;
}
.title {
    margin: 2.5rem 0;
    font-size: 3.8rem;
    line-height: 4.8rem;
    color: #181e4b;
}
.label {
    color: var(--primary);
}

.wrapper {
    margin-top: 48px;
}

.tour-wrapper {
    padding: 0 8px;
    position: relative;
    margin-top: 8px;
}

.tour-image {
    height: 220px;
    width: 100%;
    border-radius: 10px;
}

.tour-nation {
    position: absolute;
    top: 220px;
    transform: translateY(-50%);
    left: 32px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid var(--white);
    box-shadow: 0 2px 5px #ccc;
}

.tour-info-list {
    margin-top: 24px;
    list-style: none;
    display: flex;
}

.tour-info-item {
    margin-right: 16px;
}
.tour-info-icon {
}

.tour-info-label {
    margin-left: 8px;
}

.tour-info-item {
}

.tour-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tour-name {
    font-size: 2.6rem;
    font-weight: 600;
    margin: 8px 0;
}

.tour-rating {
}

.tour-rating-icon {
    font-size: 1.4rem;
    color: #ccc;
}

.tour-location {
}

.tour-location-icon {
}

.tour-location-info {
    margin-left: 8px;
    font-size: 2rem;
}

.tour-price {
}

.tour-price-discount {
    color: var(--primary);
    font-size: 2.6rem;
    font-weight: 700;
}

.tour-price-origin {
    margin-left: 16px;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: line-through;
}

.tour-desc {
    font-size: 1.4rem;
    margin-bottom: 16px;
    height: 120px;
}
